<!-- Layout para rotas autenticadas (com header e menu) -->
<div class="app-container" *ngIf="showLayout">
  <app-header></app-header>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidenav">
      <app-side-menu></app-side-menu>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<!-- Layout para rotas não autenticadas (sem header e menu) -->
<div class="auth-container" *ngIf="!showLayout">
  <router-outlet></router-outlet>
</div>
